body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav ul {
    list-style: none;
    background: #000000;
    text-align: center;
    padding: 7px 5px;
    margin-left: 25%;
    margin-right: 25%;
    
}
.nav li {
    display: inline-block;
    
}
.nav a {
    text-decoration: none;
    color: white;
    width: 100px;            
    display: block;
    text-align: center;
    padding: 15px;
    padding-bottom: 15px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}
li {
    display: inline;
}
h1 {
    text-align:left;
    border-inline-color:white;
    font-size: bold;
    color:black;
}
.nav-items{
    margin-right: 25%;
    margin-left: 25%;
    padding: 10px;
    color: cadetblue;
}
#home{
    background-image:url("../images/amirali-mirhashemian-XtLPfib7OuM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:110vh;
    width:1500px vh;
    background-attachment: unset;
}
p{  
    
    color: black;
    font-size: 30px;
    text-align:left;
    padding-left: 60px;
    padding-top: 10px;
    text-transform: uppercase;
    
}
 #MEN{
    margin-top: 350px;
    margin-left: 600px;
}
.stiles p {
    text-align: center;
    font-size: 18px;
    color: white;
}
.stiles{
    background-image: url("../images/marcus-lenk-qPVkWr7Hk-Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width:1500px vh ;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color:black;
    text-align: center;
    font-weight: bold;
}
.card img {
    width: 300%;
    height: 25vw;
    object-fit:cover;
}
.cards {
    margin-left: 40px;
    align-content:center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(207, 171, 171, 0.2);
    transition: 0.3s;
    display: inline-block;
    margin-right: 40px;
    width: 25%;
    height: 20%;
}
p1{
    text-align: center;
    color: black;
}
.menu{
    padding-top: 30px;
    padding-bottom: 50px;
}
.order{
    background-image: url("../images/wesual-click-jkC1ul95ujQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width:2000px vh ;
}
#row1{
    color:white;
    font-weight: bold;
    font-size: 20px;
    background-color:black;
  }
  h4{
    color:white;
    text-align: center;
    font-weight: bold;
}
.choice{
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
  } 
  #submit{
      margin-left: 25%;
      background-color: rgb(41, 146, 194);
      margin-top: 25px;
  }
  #row{
      background-color: black;
      color: white;
  }
  .total-amount, .delivery-cost {
    font-weight: bold;
    font-size: 1.6em;
  }
.hidden {
    display: none;
}
.checkout-options, .location {
    z-index: 3;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    height: 60vh;
    background: black;
    position: relative;
    top: 100%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.table{
    background: black;
}
#forms{
    background-color:wheat;
}
.d-flex{
    background-color: black;
    color: aliceblue;
}
.fed{
    color:white;
}
#pizza-form{
    background-color:black;
    color:white;

}